 <!DOCTYPE html>
<html>
<head>
       <h1>Login</h1>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
       <form action="/login" method="post" id="login" novalidate>
           <!-- Updated action attribute to /login route -->
    <div>
               <label for="username">Username</label>
               <input type="text" id="username" name="username">
               <!-- Name attribute updated to "username" -->
 </div>

  <div>
               <label for="password">Password</label>
               <input type="password" id="password" name="password">
               <!-- Name attribute updated to "password" -->
           </div>

           <button type="submit">Login</button>
       </form> 

 </body>




