<!DOCTYPE html>
<html>
<head>
       <title>Logout Page</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">

       <!DOCTYPE html>
       <html>
       <head>
           <h1>Logout</h1>
           <meta charset="UTF-8">
           <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
       </head>
       <body>
           <p>You have successfully logged out.</p>
           <a href="/login">Login Again</a>
       </body>
       </html>


