<!DOCTYPE html>
<html>
<head>
       <h1>Main Page</h1>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
   <p id="globalCurrencyDisplay">Global Currency: <span id="currencyValue">0</span></p>
        <div>

        </div>
          <a href="{{ url_for('button_game') }}" target="_blank">Button Game</a>
        <div>

        </div>
          <a href="{{ url_for('tic_tac_toe') }}" target="_blank">Play Tic-Tac-Toe</a>
        <div>
          </div>
            <a href="{{ url_for('pong_game') }}" target="_blank">Pong</a>
          <div>
            </div>
              <a href="{{ url_for('rps_game') }}" target="_blank">Rock Paper Scissors Game</a>
            <div>
              </div>
                <a href="{{ url_for('bingo_game') }}" target="_blank">Bingo</a>
              <div>
                  </div>
                    <a href="{{ url_for('pacman_game') }}" target="_blank">Pacman</a>
                  <div>

        </div>
          <a href="{{ url_for('shop') }}" target="_blank">Shop</a>
        <div>

        </div>
        <a href="{{ url_for('logout') }}">logout</a>
